<header class="header bg-primary-100">
  <div class="container">
    <nav class="navbar navbar-expand-lg py-0">
      <div class="container border-bottom border-neutral-300 py-9">
        <a class="navbar-brand" href="index.html"
          ><img src="/assets/images/Vector.svg" alt="Vivre"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="d-flex position-relative" role="search">
            <input
              class="form-control"
              type="search"
              placeholder="搜尋文章"
              aria-label="Search"
            />
            <button
              class="btn p-1 position-absolute top-50 end-0 translate-middle"
              type="submit"
            >
              <i
                class="bi bi-search text-success"
                style="font-size: 1.5rem"
              ></i>
            </button>
          </form>
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto align-items-center">
            <li class="nav-item me-xl-5">
              <a class="nav-link py-2 px-5" aria-current="page" href="#"
                >所有文章</a
              >
            </li>
            <li class="nav-item me-xl-5">
              <a class="nav-link py-2 px-5" href="#">訂閱方案</a>
            </li>
            <li class="nav-item me-xl-5">
              <a class="nav-link py-2 px-5" href="about.html">關於我們</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-secondary-200 text-white w-100" type="submit">
                登入 / 註冊
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
